
ToTheMoon/src/main/java/DistrictingData/georgia.json
ToTheMoon/src/main/java/DistrictingData/nv_districts_with_data.json
ToTheMoon/src/main/java/DistrictingData/nv_geometry.json
ToTheMoon/src/main/java/DistrictingData/tl_2020_13_cd116.json
ToTheMoon/src/main/java/DistrictingData/nv_districts_with_areas.json
ToTheMoon/src/main/java/DistrictingData/nv_precincts_with_areas.json
ToTheMoon/src/main/java/DistrictingData/nv_c4000_r500_p20.json
ToTheMoon/src/main/java/DistrictingData/nv_districts_ALL.json
ToTheMoon/src/main/java/DistrictingData/nyDistricts.json
*.json
